<%= form_for(resource) do |f| %>
  <%= render 'shared/error_messages' %>

  <fieldset>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :ga %><br>
      <%= f.text_field :ga, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :ga_universal %><br>
      <%= f.text_field :ga_un, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :site %><br>
      <%= f.text_field :site, class: 'form-control' %>
    </div>
    <p>
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', :back, class: 'btn btn-default'  %>
    </p>
  </fieldset>
<% end %>
