<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Ga:</strong>
  <%= @store.ga %>
</p>

<p>
  <strong>Token:</strong>
  <%= @store.token %>
</p>

<p>
  <strong>Site:</strong>
  <%= @store.site %>
</p>

<p>
  <strong>URL API:</strong>
  <%= sender_send_transaction_url(params: {'token' => @store.token}) %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
